# Additional requirements not in openstack/requirements project

ansi2html                # LGPLv3+
dpkt                     # BSD
openshift-client         # Apache-2.0
pandas                   # BSD
podman==4.7.0            # Apache-2.0
pytest-cov               # MIT
pytest-reportportal      # Apache-2.0
pytest-rerunfailures     # MPL-2.0
pytest-subtests          # MIT
pytest-timeout           # MIT
varlink                  # Apache-2.0
